$headerFont: 'Montserrat', sans-serif;
$mainFont:'Noto Sans', sans-serif;
$textColor: #16191D;
$createColor:#314B99;
$createBtnBc: #F0F5FF;
$placeHolderSearch:#C4C4C4;
$createPlusBc:#D6DBEB;
$doneTextColor:#134EC1;
$inBuildTextAndCheckColor:#134EC1;
$searchColor:#59BBA6;
$searchPlaceHolderColor:#C4C4C4;
$borderListColor:#EEEBE9;
$borderListStyle:1px solid #EEEBE9;
$hoverListColor: #F6F9FF;

@mixin headerStyle {
   font-family: $headerFont;
   font-weight: 700;
   line-height: 132%;
   color: $textColor;
}
@mixin textStyle{
   font-family: $mainFont;
   font-weight: 400;
   font-size: 14px;
   ine-height: 132%;
   color: $textColor;
}
@mixin borderHeadList {
   border-left:1px solid $searchPlaceHolderColor;
}




.header, .main{
   max-width: 100%;
}

.container{
   margin: 0 150px 0 190px;
   // margin: 0 auto;
}

.header {

   // .header__top

   &__top {
      display: flex;
      justify-content: space-between;
      margin: 100px 0 34px 0;
   }

   // .header__down

   &__down {
      display: flex;
      justify-content: space-between;
      margin-bottom: 34px;
      position: relative;
      width: 100%;
      align-items: center;
   }

   &__sort {

   }
   &__sort-text{
      display: inline-block;
      @include textStyle;
   }

   // .header__sort-label

   &__sort-label {
   }
}
.container {
}
.header-one {
   @include headerStyle;
   font-size: 24px;
}
.button-create {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: $createPlusBc;
   color: $createColor;
   font-size: 35px;
   font-weight: 600;
   text-align: center;
   cursor: pointer;
   transition: all 0.4s ease-in-out;
   &:hover{
      background-color: #5f6fa7;
      color: #fff;
   }
}
.material-symbols-outlined {
}
.search-ico {
   color: $searchColor;
   cursor: pointer;
   background-color: transparent;
   border: none;

}

.search{
@include textStyle;
font-size: 18px;
width: 65vw;
margin-right: 20px;
border:none;
outline: none;
background: transparent;

  &::placeholder{
@include textStyle;
color: $searchPlaceHolderColor;

}
}

.select {
   border: none;
   position: relative;
   appearance: none;
   @include textStyle;
   font-size: 14px;
   background-color: transparent;
}
.option {
   padding-right: 15px;
 font-size: 15px;
 background: transparent;

 outline: none;
}

.newtask {
   // display: none;
   visibility: hidden;
   width: 100%;
   height: 100%;
   z-index: 10;
   opacity: 0;
   // filter: blur(1.5px);
   transition: opacity 0.5 ease-in-out;
   &.active{
      display: block;
      visibility: visible;
      opacity: 1;
      overflow: hidden;
   }
   z-index: 10;
   &__container{
      max-width: 500px;
      position: absolute;
      top: 35vh;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 40px;
      background-color: #ffffff;
      border: 1px solid #DDE2E4;
      box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      z-index: 11;
   }

   // .newtask__head

   &__head {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 30px;
   }

   // .newtask__title

   &__title {
      @include headerStyle;
      font-size:18px;
   }

   // .newtask__close

   &__close {
      margin-left: 62px;
      background-color:$createColor;
      color: #fff;
      border: none;
      border-radius: 5px;
      width: 25px;
      height: 25px;
      line-height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover{
         background-color: $createPlusBc;
        color: $createColor;

      }
   }

   // .newtask__field

   &__field {
      margin-bottom: 30px;
   }

   // .newtask__description

   &__description {
      margin-bottom: 5px;
      @include textStyle;

   }

   // .newtask__input

   &__input {
      outline: none;
      border: 1px solid  #DDE2E4;
      border-radius: 8px;
      @include textStyle;
      padding: 7px 10px;
      width: 100%;
   }

   // .newtask__button

   &__button {
      width: 100%;
      text-align: center;
   }

   // .newtask__button-in

   &__button-in {
      margin: 0 auto;
      border: none;
      border-radius: 8px;
      padding: 12px 40px;
      @include textStyle;
      font-size: 18px;
      background-color: $createBtnBc;
      color: $inBuildTextAndCheckColor;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover{
         background-color:$createColor;
         color: #fff;
      }
   }
}
.outer-active{
   position:fixed;
   z-index: 9;
   width: 100%;
   height: 100vh;
  top: 0;
  left: 0;
   z-index: 8;
}
.outer-two-active{
   filter: blur(1.5px);
}

// Main

.main {
   width: 100%;
@include textStyle;
font-size: 14px;
   &__inner {
      padding: 0 50px 0 60px;
   }

   // .main__head

   &__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
   }

   &__head-right {

   }
   // .main__head-desc


   &__head-desc {
      padding: 5px 0 5px 20px;
      @include borderHeadList;
      line-height: 150%;
   }

   // .main__head-status

   &__head-status {
      padding: 5px 80px 5px 20px;
      @include borderHeadList;
      line-height: 150%;
   }

   // .main__head-data

   &__head-data {
      padding: 5px 70px 5px 20px;
      @include borderHeadList;
      line-height: 150%;
   }

   // .main__list



   // .main__li

   &__li {
      position: relative;
      border-top:$borderListStyle;
      padding: 20px 0;
      background-color: transparent;
      transition: all 0.4s ease-in-out;
      align-items: center;
      &:hover{
         background-color: $hoverListColor;
      }
   }

   // .main__li-inner

   &__li-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__input-group{

   }
   &__right-group {
      text-align: left;
   }
   // .main__checkbox

   &__checkbox {
   width: 0;
   height: 0;
   z-index: -1;
   opacity: 0;
      position: absolute;
   }
   &__checkbox-pseudo{
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid $textColor;
      border-radius: 50%;
      cursor: pointer;
      z-index: 6;
      margin-left: -60px;
      transition: all 0.4s linear;
    }
   &__checkbox:focus + .main__checkbox-pseudo{
      box-shadow: 0 0 0 1px #134EC1, 0 0 10px 1px #96b8fc ;
   }
   &__checkbox-pseudo::before{
      content: url(../img/done.svg);
      position: absolute;
      top: 40%;
      left: 60%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      opacity: 0;
      transition: opacity 0.2s linear;
   }
   &__checkbox:checked + .main__checkbox-pseudo::before{
      content: url(../img/done.svg);
      opacity: 1;
      position: absolute;
      top: 40%;
      left: 60%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;

   }
   &__checkbox:checked + .main__checkbox-pseudo{
      border-color: $inBuildTextAndCheckColor;
   }


   // .main__text

   &__text {
      padding-left: 24px;
   }
   // .main__status

   &__status {
      color:#F89B11;
      text-align: left;
      display: inline-block;
      width: 80px;
   }
   &__checkbox:checked ~ .main__status{
      color: #134EC1;
   }

   // .main__data

   &__data {
      padding-right: 32px;
      padding-left: 60px;
   }

}
ul.main__list{
   margin-bottom: 0;
}
.container {
}
.main__li:last-of-type{
   border-bottom: $borderListStyle;
}
.hide{
   display: none;
}
// адаптив
@media screen and (max-width:1595px){
 .container{
   margin: 0 auto;
}
.header{
   margin-left: 200px;
   margin-right: 50px;
}
.header__top{
   justify-content: space-between;
   padding-right: 50px;
}
.header__down{
   justify-content: space-around;
}
.header__sort{
   padding-right: 80px;
   display: flex;
   align-items: start;
   &-text{
      margin-right: 10px;
   }

}
.search{
   max-width: 50%;
}

.button-create{
   margin-right: 50px;
}
.main{
   &__inner{
      padding-left: 220px;
   }
}
}
@media screen and (max-width:1310px){

   .main__inner{
      padding-left: 200px;
   }
}
@media screen and (max-width:1209px){

   .main__inner{
      padding-left: 180px;
   }
}
@media screen and (max-width:1100px){
   body{
      overflow-x: hidden;
   }
   .header{
      margin: 0 50px 0 90px;
   }
   .header__sort{
      display: flex;
      align-items: start;
      margin-left: 30px;
      padding-right: 60px;
      justify-content: space-between;
      &-text{
         padding-right: 10px;
      }
   }
   .main__head-right{
      padding: 5px 0 ;
   }
   .main__inner{
      padding-left: 100px;
   }
   .header__down{
      display: block;
   }
   .search{
      max-width: 30%;
      margin-bottom: 10px;
   }
}
@media screen and (max-width:776px){
   .newtask{
      &__container{
         max-width: 60%;
      }
      &__close{
         margin-left: 20px;
      }
      &__head{
         align-items: start;
      }
      &__input{
         max-width: 100%;
      }
   }
}

@media screen and (max-width:880px){
   .search{
      max-width: 80%;
   }
   .header__sort{
      padding-right: 50px;
   }
   .main__input-group{
      max-width: 30%;
      text-align: left;
      label{
        position: absolute;
        top: 50%;
      transform: translateY(-50%);
      }
   }
   .main__text{
      max-width: 100%;
      text-align: left;
      word-break: auto;
      text-indent: 0;
      padding-left: 0;
      margin-left: 0;
      z-index: 4;
   }
   .main__li-inner{
      align-items: center;
   }
   .main__checkbox-pseudo{
      top: 50%;
      transform: translateY(-50%);
   }
}
@media screen and (max-width:687px){
   .newtask{
      &__container{
      padding: 50px 50px 30px 50px;
      }
      &__head{
         display: block;
         position: relative;
      }
      &__close{
         position: absolute;
         top: -30px;
         right: -35px;
      }
      &__title{
         font-size: 16px;
      }
      &__button-in{
         font-size: 16px;
      }
   }
}
@media screen and (max-width:597px){
   .newtask{
      &__container{
      width: 298px;
      }
   }
}
@media screen and (max-width:532px){

   .search{
      max-width: 80%;
   }
   .header{
      margin: 0;
      .container{
         padding: 0 50px;
      }
      &__top{
         padding: 0;
      }
      &__sort{
         padding-right: 30px;
         display: block;
         &-text{
            display: block;
            margin-bottom: 10px;
         }
      }
   }
   .main__head-desc{
      margin-right: 10px;
   }
   .main__head-status{
      padding-right: 40px;
   }
   .main__input-group{
      margin-right: 30px;
      margin-left: 25px;
   }
   .main__data{
      padding: 0 40px 0 30px;
      display: inline-block;
   }
   .main__li{
      font-size: 13px;
   }
   .main__status{
      margin-right: 0px;
      margin-left:  -30px;
   }
   .main__inner{
      padding:0 50px;
   }
   .button-create{
      margin-right: 20px;
   }


}
@media screen and (max-width:503px){
   .main{
      &__li{
         border:$borderListStyle;
         border-width: 2px;
         border-top-left-radius: 5em 50%;
  border-top-right-radius: 5em 50%;
  border-bottom-right-radius: 5em 50%;
  border-bottom-left-radius: 5em 50%;
  margin-bottom: 10px;
      }
      &__inner{
         padding:0 50px;
         text-align: center;
         align-items: center;
      }
      &__li-inner{
         display: block;
         font-size: 14px;
         text-align: center;
         justify-content: center;
   }
   &__head{
      visibility: hidden;
      display: none;
   }
   &__input-group{
      position: relative;
      max-width: 100%;
      width: 100%;
      margin:0 auto;
      text-align: center;
      display: block;
   }
   label{
      position: relative;
      transform: translateY(0);
      display: block;
      text-align: center;
      align-items: center;
      width: 100%;
   }
   &__checkbox-pseudo{
      position: relative;
      display: block;
      position: relative;
      text-align: center;
      margin: 10px auto;
      &::before{
         top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &__text{
      display: block;
      word-break: normal;
      margin: 0 20px;
      text-align: center;
      padding-bottom: 10px;
   }
   &__right-group{
      text-align: center;
      max-width: 100%;
      align-items: center;
   }
   &__data{
      padding: 0;
   }
   &__status{
      margin-right: 10px;
   }
}
.main__checkbox:checked + .main__checkbox-pseudo::before{
   left: 50%;
}

.header{
   margin: 0;
   .container{
      padding: 0 50px;
   }
   &__top{
      padding: 0;
   }
}
.button-create{
   margin-right: 20px;
}

.newtask{
   &__title{
      font-size: 14px;
   }
   &__container{
      padding: 30px 30px 20px;
   }
   &__close{
      top: -20px;
      right: -20px;
   }
}
}

@media screen and (max-width:447px), (orientation: portrait) and (max-width:447px){
.newtask{
   &__container{
      min-width: 264px;
   }

}
 .search{
   max-width: 75%;
   margin-right: 0;
   &::placeholder{
      font-size: 13px;
      line-height: 18px;
   }
 }
 .header{
   &__search{
      align-items: start;
   }
   .container{
   padding: 0 20px;
   }
 }
}

@media screen and (max-width:320px),  (orientation: portrait) and (max-width:320px){
   .main{
     &__status{
      margin-left: 5px;
     }
     &__data{
      margin-right: 5px;
     }
   }
}

[v-cloak]{
   display: none;
}
// .main__status{
//    color: #134EC1;
// }
// .main__checkbox:checked  .main__status{
//    color: #F89B11;
// }
.delete{
   display: inline-block;
   align-items: center;
   transition: all 0.6s ease-in-out;
      &:hover{
         transform: rotate(10deg);
      }
   &__in{
      background-image: url(../img/trash.png);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: center;
      display: block;
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-right: 10px;
      align-items: center;
      transition: all 0.4s ease-in-out;
      &:hover{
         transform: rotate(10deg);
      }

   }
}
